* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Reorganized the semantic selectors before the class selectors since they are less specific. */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Changed the selector name to better reflect the updated html semantics. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.main-photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("../images/digital-marketing-meeting.jpg"); */
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Condensing the benefit selectors into one block and class to reduce redundancy. */
.benefit-type{
    margin-bottom: 32px;
    color: #ffffff;
}
/*Condensing the benefit h3 selectors into one block and class to reduce redundancy. */
.benefit-type h3{
    margin-bottom: 10px;
    text-align: center;
}
/*Condensing the benefit img selectors into one block and class to reduce redundancy.*/
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Condensing the Horiseon solution selectors into one block to reduce redundancy. */
.horiseon-services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Condensing the Horiseon solution img selectors into one block to reduce redundancy. */
.horiseon-services img {
    max-height: 200px;
}
/*Condensing the Horiseon solution h2 selectors into one block to reduce redundancy. */
.horiseon-services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Changed selector name to reflect changed html semantics. */
.footer h4 {
    font-size: 20px;
}
